
body{
  margin-top:20px;
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40%;
    
}

#countrySelect,#citySelect,#button0 {
    margin:2px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}
#button0:hover {
    cursor: pointer;
    background-color: lightgrey ;

}
form{
    background:#F09819;
    padding: 5px;
    width: fit-content;
    margin-left: 10%;
    border-radius: 10px;
}
input[type="text"]{
    font-size: 1em;
    border:0;
    padding:10px;
    border-radius: 10px 0 0 10px;
    outline: 0;
}
input[type="submit"]{
    font-size: 1em;
    border:0;
    padding:10px;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}

#weatherContainer{
    margin-left: 15%;
    margin-top: 25%;
    transform:translate(-50%, -50%);
    background:#19DDF0;
    padding: 20px;
    border-radius:15px;
    height:150px;
    width:300px;
    box-shadow: 0 0 20px 2px #5e5d5da9 ;
    
}
#container0 {
    justify-content: center;
   display: flex;
   
}
#cityName{
    position: absolute;
    top:0;
    left:0;
    font-size: 2.9em;
    width:290px;
    white-space: nowrap;
    overflow-x: scroll;
}

#image{
    position: absolute;
    top:10px;
    right:10px;
    background:#c6ccc1;
    height: 100px;
    border-radius: 50%;
    border: 0.2px dotted black;
    box-shadow: 0 0 20px 2px #19F098 ;
}

#temp{
    position: absolute;
    bottom:20px;
    left:10px;
    font-size: 5em;
}

#main{
    position: absolute;
    bottom:40px;
    right:10px;
    font-size: 2em;

}

#discription{
    position: absolute;
    bottom:5px;
    right:0px;
    font-size: 1.1em;
    background:rgba(216, 250, 239, 0.555);
    border-radius: 0 0 10px 10px;
}